@model AutomationDashboard.Model.Models.SubProject

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHomeSetting.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubProject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
