@model AutomationDashboard.Model.Models.BuildDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHomeSetting.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BuildDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Build.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Build.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotRun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotRun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
